.banner_container {
    display: flex;
    max-height: 640px;
    position: absolute;
}

.Name {
    background-color: #dffc00;
    color: #939344;

}

.paragraph {
   color: #939344;

}

.image {
    width: 250px;
    transform: rotate(90deg);
    margin: 100px;
}

